## resend — affy_sendOnly
# RESEND_API_KEY=""
# EMAIL_FROM="noreply@affy.ink"

## nhncloud notification email production
# NHN_API_URL_EMAIL="https://email.api.nhncloudservice.com"
# NHN_APP_KEY_EMAIL=""
# NHN_SECRET_KEY_EMAIL=""
# KVIDAI_NHN_SENDER_EMAIL_MARKETING="hello@em.affy.ink"
# KVIDAI_NHN_SENDER_EMAIL_TRANSACTIONAL="support@mail.affy.ink"

## aws ses
AWS_REGION=ap-northeast-2
AWS_SES_REGION=us-east-1
AWS_SES_KEY=
AWS_SES_SECRET=
AWS_SEND_EMAIL=
KVIDAI_AWS_SEND_EMAIL_MARKETING="hello@em.kvid.ai"
KVIDAI_AWS_SEND_EMAIL_TRANSACTIONAL="support@mail.kvid.ai"
KVIDAI_ADMIN_EMAIL=
KVIDAI_SELF_URL=https://console.kvid.ai/

KVIDAI_API_KEY=
KVIDAI_BASE_URL="https://api.kvid.ai"
